.hero {
  min-height: calc(100vh - 85px);
  padding: 40px 0;
  display: flex;
  align-items: center;

  background-image:
     linear-gradient(
    rgba(31, 41, 55, 0.65),
    rgba(31, 41, 55, 0.65)
  ),
    url("../../assets/pet2.png");

  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* ICONES */
.hero-title-icon {
  margin-left: 8px;
  color: var(--primary);
  font-size: 0.65em;
}

.hero-benefits span {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero-benefits span svg {
  font-size: 0.95rem;
  flex-shrink: 0;
}

/* CONTEÚDO */

.hero-content {
  max-width: 650px;
  padding-left: 5rem;
  padding-top: 90px;
  padding-bottom: 9cqh;
}

.hero-content h1 {
  font-size: clamp(3.2rem, 5vw, 4.5rem);
  line-height: 1.1;
  color: white;

  margin-bottom: 1.5rem;
  max-width: 700px;
}

.hero-content h1 span {
  color: var(--primary);
}

.hero-content p {
  color: rgba(255, 255, 255, 0.9);

  font-size: 1.2rem;
  margin-bottom: 2rem;

  max-width: 600px;
}

/* BENEFÍCIOS */

.hero-benefits {
  display: flex;
  flex-wrap: wrap;

  gap: 1rem;

  margin-bottom: 2rem;
  max-width: 700px;
}

.hero-benefits span {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 55px;

  padding: 10px 16px;

  border-radius: 999px;

  font-size: 0.95rem;
  font-weight: 600;

  transition: 0.3s;
}

.hero-benefits span:hover {
  transform: translateY(-2px);
}

.hero-benefits span:nth-child(1) {
  background: rgba(255, 145, 77, 0.25);
  color: #ffd0b0;
}

.hero-benefits span:nth-child(2) {
  background: rgba(78, 205, 196, 0.25);
  color: #a8f3ee;
}

.hero-benefits span:nth-child(3) {
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

.hero-benefits span:nth-child(4) {
  background: rgba(255, 145, 77, 0.25);
  color: #ffd0b0;
}

.hero-benefits span:nth-child(5) {
  background: rgba(78, 205, 196, 0.25);
  color: #a8f3ee;
}

.hero-benefits span:nth-child(6) {
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

/* BOTÕES */

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.hero-buttons button {
  padding: 14px 28px;

  border: none;
  border-radius: 10px;

  font-size: 1rem;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.3s ease;
}

.hero-buttons button:first-child {
  background: var(--primary);
  color: white;
}

.hero-buttons button:first-child:hover {
  background: var(--primary-hover);
  transform: translateY(-3px);
}

.hero-buttons button:last-child {
  background: var(--secondary);
  color: white;
}

.hero-buttons button:last-child:hover {
  opacity: 0.9;
  transform: translateY(-3px);
}
/* NOTEBOOK */
@media (max-height: 800px) {
  .hero-content h1 {
    font-size: 3.6rem;
  }

  .hero-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .hero-benefits {
    margin-bottom: 1.5rem;
    gap: 0.8rem;
  }

  .hero-benefits span {
    min-height: 45px;
    font-size: 0.9rem;
  }

  .hero-buttons {
    margin-top: 0.5rem;
  }
}

/* TABLET */

@media (max-width: 1024px) {
  .hero {
    background-position: 65% center;
  }

  .hero-content {
    padding-left: 3rem;
  }

  .hero-content h1 {
    font-size: 3.8rem;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .hero {
    padding: 110px 1.5rem 80px;

    background-position: 80% center;

    background-image:
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("../../assets/pet2.png");
  }

  .hero-content {
    padding: 0;
    text-align: center;
  }

  .hero-content h1 {
    font-size: 2.4rem;
    line-height: 1.1;

    margin-bottom: 1rem;
  }

  .hero-content p {
    max-width: 100%;

    font-size: 1rem;

    margin-bottom: 2rem;
  }

  .hero-benefits {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 12px;

    margin-bottom: 2rem;
  }

  .hero-benefits span {
    width: 100%;
    min-height: 60px;

    text-align: center;
  }

  .hero-buttons {
    flex-direction: column;

    align-items: center;

    width: 100%;
  }

  .hero-buttons button {
    width: 100%;
    max-width: 320px;
  }
}

/* CELULARES PEQUENOS */

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 0.95rem;
  }

  .hero-benefits {
    grid-template-columns: 1fr;
  }
}
