.footer {
  background: #17233a;
  color: white;
}

/* TOPO */

.footer-top {
  text-align: center;
  padding: 2.5rem 2rem 1.5rem;
}

.footer-brand h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  font-size: 1.8rem;
  font-weight: 700;

  color: var(--primary);
}

.footer-brand p {
  max-width: 500px;

  margin: 0.75rem auto 0;

  color: #d1d5db;

  line-height: 1.6;
}

/* REDES SOCIAIS */

.footer-social {
  display: flex;
  justify-content: center;
  gap: 1rem;

  margin-top: 1.25rem;
}

.footer-social a {
  width: 45px;
  height: 45px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;

  background: rgba(255, 255, 255, 0.08);

  transition: all 0.3s ease;
}

.footer-social a:hover {
  background: var(--primary);

  transform: translateY(-4px);
}

/* CONTEÚDO */

.footer-container {
  max-width: 1200px;

  margin: 0 auto;

  padding: 2rem 2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1.5rem;

  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.footer-section h4 {
  margin-bottom: 1rem;

  font-size: 1.1rem;
  font-weight: 600;

  color: white;
}

.footer-section p {
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 0.8rem;

  color: #d1d5db;
}

.footer-section p:hover {
  color: white;
}

/* COPYRIGHT */

.footer-bottom {
  text-align: center;

  padding: 1rem;

  border-top: 1px solid rgba(255, 255, 255, 0.08);

  color: #9ca3af;
}

.footer-credit {
  margin-top: 0.5rem;

  font-size: 0.9rem;

  color: #d1d5db;
}

.footer-credit strong {
  color: var(--primary);
}

/* TABLET */

@media (max-width: 992px) {
  .footer-container {
    gap: 2rem;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .footer-top {
    padding: 2rem 1.5rem 1.5rem;
  }

  .footer-brand h2 {
    font-size: 1.8rem;
  }

  .footer-brand p {
    max-width: 320px;
  }

  .footer-container {
    grid-template-columns: 1fr;

    text-align: center;

    gap: 2.5rem;

    padding: 2rem 1.5rem;
  }

  .footer-section {
    padding-bottom: 2rem;

    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }

  .footer-section:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  .footer-section h4 {
    margin-bottom: 1rem;
  }
  .footer-section p {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;

    text-align: center;
    white-space: nowrap;
  }

  .footer-social {
    flex-wrap: wrap;
  }
  .floating-whatsapp {
    bottom: 80px;
  }
}

/* CELULARES PEQUENOS */

@media (max-width: 480px) {
  .footer-brand h2 {
    font-size: 1.6rem;
  }

  .footer-brand p {
    font-size: 0.95rem;
  }

  .footer-bottom {
    font-size: 0.8rem;
  }
}
