.footer {
  background: var(--dark);
  color: white;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 4rem 2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.footer h3,
.footer h4 {
  margin-bottom: 1rem;
}

.footer p {
  color: #d1d5db;
}

.footer-bottom {
  text-align: center;
  padding: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
